.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.Home>div {
    text-align: center;
    max-width: 650px;
}

.Home h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.Home p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    line-height: 1.5;
}

.Home a {
    display: inline-block;
    font-size: 18px;
    padding: 6px 14px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #295fbd;
    color: #ffffff;
    font-weight: 600;
    transition: all 0.3s ease;
}

.Home a:hover {
    background-color: #005eff;
    color: #ffffff;
}

h3{
    padding: 2rem 0;
    font-size: 1.5rem;
}

.button{
    display: flex;
    gap: 3rem;
}

.link{
    margin: 0 0.5rem;
}